.workspace {
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form p {
  display: grid;
}

form input {
  width: 180px;
  margin-top: 5px;
  padding: 10px 5px;
  border: 2px solid #000000;
  border-radius: 10px;
}

form button {
  cursor: pointer;
  width: 70px;
  margin-top: 20px;
  padding: 10px 5px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
}

form button:hover {
  background-color: #eeeeee;
}

form button:active {
  transform: translateY(1px);
}

table {
  margin-left: -15px;
  width: 550px;
  border-spacing: 15px;
}

th {
  font-weight: normal;
}

tbody {
  display: block;
  width: 550px;
  border: 2px solid black;
  border-radius: 30px;
}

tr {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}